.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.result h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
}

.result p {
    margin: 5px 0;
    color: #666;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.new-search-button,
.csv-download-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-search-button:hover,
.csv-download-button:hover {
    background-color: #0056b3;
}
.searchbar-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #333;
}

.searchbar-container label {
    margin-bottom: 5px;
    font-size: 1em;
    color: #333;
}

.searchbar {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.searchbar:focus {
    border-color: #007bff;
    outline: none;
}