blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
dateparser==1.2.0
emot==3.1
Flask==3.0.3
Flask-Cors==5.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==3.0.1
nltk==3.9.1
numpy==2.1.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.9.11
requests==2.32.3
six==1.16.0
tqdm==4.66.5
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
Werkzeug==3.0.4
youtube-comment-downloader==0.1.76
